@font-face {
  font-family: 'Virgo';
  src: url('../fonts/virgo.ttf') format('truetype');
}

/*
* Colours
*/

.pibot-red-bg {
	background-color: #E74D4D;
}

.pibot-red {
	color: #E74D4D;
}

.pibot-red-border {
	border: 1px solid #E74D4D;
}

.pibot-blue-bg {
	background-color: #4D4FE7;
}

.pibot-blue {
	color: #4D4FE7;
}

.pibot-blue-border {
	border: 1px solid #4D4FE7;
}

.pibot-purple-bg {
	background-color: #8000FF;
}

.pibot-purple {
	color: #8000FF;
}

.pibot-green-bg {
	background-color: #7DE74D;
}

.pibot-green {
	color: #7DE74D;
}

.pibot-green-border {
	border: 1px solid #7DE74D;
}

.pibot-neutral-bg {
	background-color: #00FFBF;
}

.pibot-neutral {
	color: #00FFBF;
}

.pibot-orange-bg {
	background-color: #FFBF00;
}

.pibot-orange {
	color: #FFBF00;
}

.pibot-yellow-bg {
	background-color: #D4E74D;
}

.pibot-yellow {
	color: #D4E74D;
}

.pibot-yellow-border {
	border: 1px solid #D4E74D;
}

.pi-raspberry {
	color: #D00635;
}

/*
*	Global
*/

body {
	color: white;
	background-color: #262626;
}

a, p, span {
	font-weight: 200;
}

h1, h2, h3 {
	font-weight: 400;
}

#main {
  /* Bring main content above the hexbins */
  position: relative;
  z-index: 1;
}

.jumbotron h1 {
	margin:10px 0 30px;
}

.jumbotron .row {
	margin: 20px 0;
}

.img-thumbnail {
	padding:2px;
}

.navbar {
	margin: 20px 0;
}

.navbar-nav > li:last-child a {
	margin-right: 0;
}

.navbar-nav li.active a {
	border-bottom: 3px solid;
	border-top: 3px solid;
}

.navbar-nav li a {
	background-color: #262626;
  background-color: rgba(38, 38, 38, 0.9);
	border-bottom: 3px solid;
	border-top: 3px solid;
	display: block;
	text-align: center;
	padding: 15px 0 0;
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 1px;
	overflow: visible;
	font-size: 18px;
	transition: background-color 0.15s linear,
		color 0.15s linear;
}

.navbar-nav li i {
	display: block;
	padding: 0 0 10px;
	font-size: 2em;
	text-align: center;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li.active a {
	background-color: white;
	color: #262626;
}

.navbar-nav > li.active a {
	cursor: default;
}

.navbar-nav li span, .navbar-nav li i {
	display: block;
	text-align: center;
}

.navbar > .navbar-brand {
	background: url('../img/pibot-logo-white.png') center center no-repeat;
	background-size: 80% auto;
	text-align: left;
	text-indent: -9999px;
	display: block;
	position: relative;
	margin: 10px 0;
	padding: 1px;
	width: 100px;
	height: 100px;
	border: 3px solid white;
	border-radius: 70px;
	overflow: visible;
	transition: background-color 0.15s linear;
}

.navbar > .navbar-brand:hover, .navbar > .navbar-brand:focus, .navbar > .navbar-brand.active {
	background: url('../img/pibot-logo-black.png') center center no-repeat;
	background-color: white;
	background-size: 80% auto;
}

.container .jumbotron {
	background: #262626;
  background: rgba(38, 38, 38, 0.9);
	border-radius: 2px;
}

.footer {
	text-align: center;
}

/*
*	Hex animation & related z-indexing
*/

#hexbins {
  position: relative;
}

.hexbin {
  position: absolute;
  top: -279px;
  left: -368px;
}

.hexagon {
  fill: none;
  stroke: #262626;
  stroke-width: 3px;
}

/*
*	Home
*/

#home .jumbotron {
	border: 3px solid white;
	position: relative;
}

#home .jumbotron > img {
	display: block;
	width: 100%;
	margin: 2em auto;
}

#pibot-carousel {
	margin: -48px -60px 20px;
	border-radius: 3px;
	overflow: hidden;
}

#pibot-carousel img {
	width: 100%;
}

#home .lead {
	font-size: 2em;
	position: absolute;
	top:15px;
	text-shadow:2px 2px 2px rgba(0,0,0,0.4);
}

#home .sub-lead {
	font-size: 1.6em;
	margin: 1.4em 0;
}

#home .col-md-4 img {
	display: block;
	width: 66%;
	margin: 0 auto;
}

#home .col-md-4 > * {
	text-align: center;
	font-size: 0.85em;
}

/*
* Kit
*/

#kit .jumbotron {
 	border: 3px #4D4FE7 solid;
}

#kit .jumbotron .row {
	margin-top: 1em;
	margin-bottom: 1em;
}

#kit .jumbotron h2 {
	text-align: center;
}

#kit .jumbotron img {
	margin: 0 auto;
}

.kit-graphic {
	position: relative;
	padding: 0;
	margin-bottom: 2em;
}

.kit-graphic i {
	width: 9%;
	padding: 10px;
	font-size: 56px;
}

.kit-graphic h3 {
	margin: 0;
	padding: 10px;
}

.kit-graphic p {
	font-size: 1.6em;
	height: 100%;
}

/*
* About
*/

#about .jumbotron {
 	border: 3px #E74D4D solid;
}

/*
* Contact
*/

#contact .jumbotron {
	border: 3px #D4E74D solid;
}

#contact .form-control {
	color: white;
	border: 3px #D4E74D solid;
	background-color: transparent;
}

#contact .btn[type="submit"] {
	border: none;
	background-color: #D4E74D;
}

#contact select.form-control {
	-webkit-appearance: initial;
  -moz-appearance: none;
  appearance: none;
	padding-left: 35px;
}

#contact .pibot-select {
	position: relative;
}

#contact .pibot-select i {
	position: absolute;
	left: 12px;
	top: 6px;
}

/*
* Forms
*/

.form-control, .btn {
	border-radius: 2px;
}

/*
*	Workshop
*/

#workshop .accordion-toggle {
	color: white;
	text-decoration: underline;
}

#workshop .accordion-heading .accordion-marker-closed {
	display: inline-block;
	width: 0.75em;
}

#workshop .accordion-heading .accordion-marker-open {
	display: none;
}

#workshop .accordion-heading.open .accordion-marker-closed {
	display: none;
}

#workshop .accordion-heading.open .accordion-marker-open {
	display: inline-block;
	width: 0.75em;
}

#workshop .jumbotron {
	border: 3px #7DE74D solid;
}

#workshop .jumbotron .row {
	margin-top: 1em;
	margin-bottom: 1em;
}

#workshop .svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

#workshop .svg-content {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

#workshop .hexImage {
	cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.15s linear;
}

#workshop .hexImage:hover {
	opacity: 1;
}

#workshop .ekko-lightbox .modal-dialog {
	padding-top: 0;
}

#workshop .ekko-lightbox .modal-content {
	background-color: transparent;
}

#workshop .ekko-lightbox .modal-header {
	border: none;
	padding: 0 2em;
	text-align: right;
}

#workshop .ekko-lightbox .modal-header h4 {
	display: none;
}

#workshop .ekko-lightbox .modal-header .close {
	font-size: 56px;
	float: none;
	opacity: 1;
	text-shadow: none;
}

#workshop .ekko-lightbox .modal-header .close:hover {
	color: white;
}

#workshop .ekko-lightbox .ekko-lightbox-container {
	position: relative;
}

#workshop .ekko-lightbox .ekko-lightbox-nav-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

#workshop .ekko-lightbox .ekko-lightbox-nav-overlay a:hover {
	color: white;
	text-decoration: none;
}

#workshop .ekko-lightbox .ekko-lightbox-nav-overlay a:nth-child(1) {
	position: absolute;
	font-size: 32px;
	top: 48%;
	left: -20px;
}

#workshop .ekko-lightbox .ekko-lightbox-nav-overlay a:nth-child(2) {
	position: absolute;
	font-size: 32px;
	top: 48%;
	right: -20px;
}

/*
*	Pi-oneers
*/

#pioneer .jumbotron {
 	border: 3px #E74D4D solid;
}

#pioneer .jumbotron ul {
}

#pioneer .jumbotron ul li {

}

#pioneer .jumbotron ul li b {
	font-weight: 100;
	letter-spacing: 0.9px;
}

@media (min-width: 992px) {
	.navbar-nav li a {
		padding: 22px 0 0;
		width: 140px;
		height: 140px;
		font-size: 24px;
	}

	.navbar-nav li i {
		padding: 0 0 20px;
		font-size: 2em;
	}

	.navbar > .navbar-brand {
		width: 140px;
		height: 140px;
	}
}